*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
    box-sizing: border-box;
}
body{
    background: #000000;
    color: floralwhite;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("https://unsplash.com/photos/a-person-standing-in-a-field-of-flowers-Y1pVpQT_zHE");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.log{
    width: 140px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20%;
   
}
.header-text h1 span{
    color:#ff004f;
}
/*--------about---------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-family:'Poppins', serif;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
